<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">Amara Jaeger</div>

      <div class="footer-col footer-col-2"></div>
            <a href="https://github.com/amara-j"
              ><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg>
              <span class="username">amara-j</span></a
            >
      </div>

      <div class="footer-col footer-col-3">
        <p></p>
      </div>
    </div>
  </div>
</footer>
