---
---

@import "{{ site.theme }}";

.homeGrid {
  display: inline-grid;
  grid-template-columns: 20% 10% 70%;
  grid-template-rows: auto 10px 20vh 20vh;
  // place-items: start end;
}

.headshot {
  display: inline-block;
  grid-column: 1/2;
  grid-row: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 0px 10px 0px 0px;
}

.myBio {
  grid-column: 3/4;
  grid-row: 1;
}

.webLink {
  grid-row: 3;
  grid-column: 1/5;
}

.artLink {
  grid-row: 4;
  grid-column: 1/5;
}

.artLink:hover {
  opacity: 0.8;
}

.webLink:hover {
  opacity: 0.8;
}

.footer-content {
  padding: 50px;
}
